<ActionBar [class.yellow]="bin?.type === 'YELLOW'" [class.green]="bin?.type === 'GREEN'"  [class.blue]="bin?.type === 'BLUE'" [class.black]="bin?.type === 'BLACK'" class="action-bar" flat="true">
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton (tap)="goBack()" android.systemIcon="ic_menu_back" ios:visibility="collapsed"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem (tap)="onDrawerButtonTap()" android:visibility="collapsed" icon="res://navigation/menu"
                ios.position="left">
    </ActionItem>
    <Label [text]="bin?.text" class="action-bar-title"></Label>
</ActionBar>

<ScrollView>
    <GridLayout class="details" rows="auto, auto, *">

        <GridLayout [class.yellow]="bin?.type === 'YELLOW'" [class.green]="bin?.type === 'GREEN'"  [class.blue]="bin?.type === 'BLUE'" [class.black]="bin?.type === 'BLACK'" class="header" row="0" rows="auto, auto, auto">
            <GridLayout class="chart-date-selectors" columns="*, *, *, *" row="0">
                <Label (tap)="selectedChartIndex(0)" [class.enabled]="_selectedChartIndex === 0"
                       [class.yellow]="bin?.type === 'YELLOW'" [class.green]="bin?.type === 'GREEN'"  [class.blue]="bin?.type === 'BLUE'" [class.black]="bin?.type === 'BLACK'" class="selector"
                       col="0" horizontalAlignment="center"
                       text="day"></Label>
                <Label (tap)="selectedChartIndex(1)" [class.enabled]="_selectedChartIndex === 1"
                       [class.yellow]="bin?.type === 'YELLOW'" [class.green]="bin?.type === 'GREEN'"  [class.blue]="bin?.type === 'BLUE'" [class.black]="bin?.type === 'BLACK'" class="selector"
                       col="1" horizontalAlignment="center"
                       text="week"></Label>
                <Label (tap)="selectedChartIndex(2)" [class.enabled]="_selectedChartIndex === 2"
                       [class.yellow]="bin?.type === 'YELLOW'" [class.green]="bin?.type === 'GREEN'"  [class.blue]="bin?.type === 'BLUE'" [class.black]="bin?.type === 'BLACK'" class="selector"
                       col="2" horizontalAlignment="center"
                       text="month"></Label>
                <Label (tap)="selectedChartIndex(3)" [class.enabled]="_selectedChartIndex === 3"
                       [class.yellow]="bin?.type === 'YELLOW'" [class.green]="bin?.type === 'GREEN'"  [class.blue]="bin?.type === 'BLUE'" [class.black]="bin?.type === 'BLACK'" class="selector"
                       col="3" horizontalAlignment="center"
                       text="year"></Label>
            </GridLayout>

            <StackLayout class="price-wrapper" horizontalAlignment="center" row="1">
                <Label text="{{totalAmount}} €"></Label>
            </StackLayout>

            <StackLayout row="2">
                <ns-cost-chart *ngIf="loaded"
                               [data]="costChartData"></ns-cost-chart>
            </StackLayout>
        </GridLayout>

        <StackLayout class="list" orientation="vertical" row="2">
            <Label class="heading" text="History"></Label>

            <StackLayout (tap)="openBin(bin)" *ngFor="let historyElement of bin?.entries; let first = first">
                <GridLayout [class.first]="first" class="item" columns="auto, *, auto">
                    <StackLayout class="image-wrapper" col="0">
                        <image *ngIf="historyElement?.percentage <= 25" src="res://trash_empty"></image>
                        <image *ngIf="historyElement?.percentage > 25 && historyElement?.percentage <= 75"
                               src="res://trash_middle"></image>
                        <image *ngIf="historyElement?.percentage > 75" src="res://trash_full"></image>
                    </StackLayout>

                    <StackLayout class="content-wrapper" col="1" orientation="vertical">
                        <Label [text]="historyElement.date | date" class="item-heading"></Label>
                        <Label class="item-sub" text="{{historyElement.kg}} kg"></Label>
                    </StackLayout>

                    <StackLayout col="2" verticalAlignment="center" marginRight="10">
                        <Label style="font-size: 18;" text="{{historyElement.price}}€"></Label>
                    </StackLayout>
                </GridLayout>
            </StackLayout>

        </StackLayout>
    </GridLayout>
</ScrollView>
