@import "details";

.action-bar {
  border-color: transparent;
  border-width: 1;

  &.green {
    background-color: green;
  }

  &.yellow {
    background-color: yellow;
    color: black;
  }

  &.blue {
    background-color: $accent-dark;
  }

  &.black {
    background-color: #02556E;
    color: white;
  }
}

.details {

  .header {
    padding-top: 10;

    &.green {
      background-color: green;
    }
    &.blue {
      background-color: $accent-dark;
    }
    &.yellow {
      background-color: yellow;

      .price-wrapper {
        color: black;
      }
    }
    &.black {
      background-color: #02556E;

      .price-wrapper {
        color: white;
      }
    }

    .chart-date-selectors {
      .selector {
        padding: 10;
        padding-left: 15;
        padding-right: 15;

        &.enabled {
          background-color: darken($accent-dark, 20%);
          color: white;
          border-radius: 1000;

          &.green {
            background-color: darken(green, 20%);
          }

          &.yellow {
            background-color: darken(yellow, 20%);
          }

          &.blue {
            background-color: darken(blue, 20%);
          }

          &.black {
            background-color: lighten(grey, 20%);
          }
        }
      }
    }

    .price-wrapper {
      color: white;
      font-size: 55;
      margin: 30;
    }

  }

  .bar-chart-wrapper {
    margin-left: 30;
    margin-right: 30;
  }

  .list {
    .heading {
      font-size: 30;
      margin-top: 30;
      margin-bottom: 30;
      margin-left: 20;
    }

    .item {
      height: 80;
      border-bottom-color: black;
      border-bottom-width: 1;

      &.first {
        border-top-color: black;
        border-top-width: 1;
      }

      .image-wrapper {
        margin: 10;
        border-color: black;
        border-width: 1;
        border-radius: 1000;

        image {
          margin: 10;
        }
      }

      .content-wrapper {
        vertical-align: center;
        margin-left: 10;

        .item-heading {
          font-weight: bold;
          font-size: 20;
        }

        .item-sub {
          color: red;
          font-size: 15;
        }
      }
    }
  }
}
